// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type=text] {
    width:30%;
    padding: 18px 18px;
    border: 2px inset SteelBlue;
    background-color: white;
}

textarea {
    width: 75%;
    height: 200px;
    padding: 18px 18px;
    border: 2px inset SteelBlue;
    background-color: white;
    resize: none;
}